@page "/departmentpage"

<h2> Daftar Department</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Department Id</th>
            <th>Department Name</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dept in Departments){
            <tr>
                <td>@dept.DepartmentId</td>
                <td>@dept.DepartmentName</td>
                <td><a href="@($"Departmentdetail/{dept.DepartmentId}")"class ="btn btn-primary">detail</a></td>
            </tr>
        }
    </tbody>
</table>