@page "/departmentdetail/{id}"

<h2>Detail Department</h2>
<table class="my-2 mt-4" border="3" align="left" colspan="2" font face="Times New Roman">
    
        <tr><td><b>Department Id </b></td> <td><b> : @Department.DepartmentId</b></td></tr> 
        <tr><td><b>DepartmentName </b></td> <td><b> : @Department.DepartmentName</b></td></tr>
</table>
