@page "/departmentdetail/{id}"

<h2>Detail Department</h2> <br/>
        <tr><td><b>1. Department Id </b></td> <td><b> : @Department.DepartmentId</b></td></tr>
        <tr><td><b>2. DepartmentName </b></td> <td><b> : @Department.DepartmentName</b></td></tr><br/>
        <tr>created by : Roitonia Panjaitan_72190358</tr>

