@page "/employeepage"

<h2> Daftar Employee</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Department Id</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var emp in Employees){
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.FirstName</td>
                <td>@emp.DepartmentId</td>
                <td><a href="@($"employeedetail/{emp.EmployeeId}")"class ="btn btn-primary">detail</a></td>
            </tr>
        }
    </tbody>
</table>